@model IEnumerable<Cinema.DataLayer.DBLayer.Ticket>

@{
    ViewBag.Title = "ShowCart";
}

<h2>ShowCart</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Film.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hall.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sessionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Film.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hall.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sessionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ticket_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.ticket_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ticket_id })
        </td>
    </tr>
}

</table>
